.widget-note {
background: #FFFCC2;
padding: 10px;
}
.serie-hot {
background:#2ECC71;
}
.seriee a{
color:#C4FD00;
}
.seriee h4 a:hover{
color:#C4FD00!important;
}
.seriee {
padding:10px 13px 0px 13px;
margin-bottom:20px;
}
.seriee p {
color:#fff;
margin-bottom:1px;
line-height:1.5
}
.seriee h4 {
font-style:normal;
margin-bottom:5px;
}
p.title-ad {
background: #51A2C1;
margin-bottom: 0px!important;
padding: 7px;
color: #fff;
font-size: 16px;
}
.cat-description p {
padding: 10px;
background: #FFFCC2;
color: #E70202;
}

.t_download {
    background: linear-gradient(#8ADA0F, #2e8417) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #659d0d;
    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.t_download:active {
    boder-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top,transparent,rgba(0,0,0,.15));
    background:-webkit-linear-gradient(top,transparent,rgba(0,0,0,.15));
    background:-o-linear-gradient(top,transparent,rgba(0,0,0,.15));
    background:-ms-linear-gradient(top,transparent,rgba(0,0,0,.15));
    background:linear-gradient(to bottom,transparent,rgba(0,0,0,.15));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}
.t_download:active {
    position:relative;
    top:1px;
}
.tu_bt {
    display: inline-block;
    background-color: #d9d9d9;
    background-image: linear-gradient(#fff, #dedede);
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #109f5f;
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

#ads-top {
    margin-bottom: 17px;
}

.information,.success,.error,.warning,.tip,.secure,.message,.download,.purchase,.print, .edit, .undconst, .register, .wait
{
	margin: 20px 0px;
	padding: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 4px 3px 5px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(46,46,46,0.4);
	-webkit-box-shadow: 4px 3px 5px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(46,46,46,0.4);
	box-shadow: 4px 3px 5px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(46,46,46,0.4);

		/* Un comment any BORDER CSS line to use the style; */
		border: 3px dashed;
		/*border: 3px solid ;*/
		/*border: 3px dotted ; */
}

/* Tips Notification Box */
.tip
{
	border-color: #c77d10;
	color: #c77d10;
	background: #f9d69e url('images/tip.png') no-repeat;
	background-position: 30px 30px;
}

.tip h4
{
	margin: 5px 5px 5px 80px;
	padding: 0;
	font-size: 18px;
}

.tip p
{
	font-size: 14px;
	color: #434E54;
	margin: 5px 5px 5px 80px;
}
/*Notification Boxes Properties*/
.information
{
	border-color:#0e7fad;
	color: #0e7fad;
	background: #c0e9fa url('images/info.png') no-repeat;
	background-position: 30px 20px;
}

.information h4
{
	margin: 5px 5px 5px 80px;
	padding: 0;
	font-size: 18px;
}

.information p
{
	font-size: 14px;
	color: #434E54;
	margin: 5px 5px 5px 80px;
}